.tight-table td{
    white-space: normal !important;
}

.pink {
    color:#E88EBB
}

.blue {
    color:#4C94A0
}

.purple {
    color:#6C04D0
}

.magenta {
    color:#801C34
}

.orange {
    color:#F6851F
}