# Defining the exact version will make sure things don't break
bluepy
sphinx
readthedocs-sphinx-search==0.1.0
sphinx_design
sphinx-copybutton
sphinx-toolbox
m2r2
sphinx_rtd_dark_mode
# pydata_sphinx_theme
furo
sphinx_togglebutton
sphinx-panels
sphinx-notfound-page
