bluepy
# Defining the exact version will make sure things don't break
sphinx==3.4.3
#sphinx==3.5.4 #trying to fix bullet-point issue
#sphinx==5.0.2 #trying to fix bullet-point issue --> build failed b/c sphinx-toolbox error
sphinx_rtd_theme==0.5.2
readthedocs-sphinx-search==0.1.0
sphinx-design
sphinx-copybutton
sphinx-toolbox
m2r2 
sphinx_rtd_dark_mode
pydata_sphinx_theme
sphinx_togglebutton
